
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 30%;
    top: 150px;
    background-image:linear-gradient( #dd5e89 , #f7bb97);
}

.card-header{
    text-align: center;
    margin-bottom: 20px;
}
.login-input{
    width: 100% !important;
}
.signin{
    width: 100%;
}
@media all and (min-width: 375px) and (max-width: 768px) { 
    .login-card {
       width: 80%;
        top: 30px;
        background-image:linear-gradient( #dd5e89 , #f7bb97);
    }
}
 
@media all and (max-width: 375px) {
    .login-card {
        width: 80%;
        top: 30px;
        background-image:linear-gradient( #dd5e89 , #f7bb97);
    }
 }
