<div class="container signup-page">
    <div class="card signup-card">
        <h4 class="card-header">Sign Up</h4>
        <div class="card-body ">
            <form>
                <div class="row mb-4">
                    <div class="col-12 mb-4">
                        <!-- Email input -->
                        <div class="p-float-label">
                            <input type="text" pInputText class="signup-input" placeholder="Name">

                        </div>
                    </div>
                    <div class="col-12">
                        <!-- Password input -->
                        <div class="p-float-label mb-4 ">
                            <input type="text" pInputText class="signup-input
              " placeholder="Phoneno">

                        </div>
                    </div>
                    <div class="col-12 mb-4">
                        <!-- Email input -->
                        <div class="p-float-label">
                          <input type="email" pInputText class="signup-input" placeholder="Emailid">
                          
                        </div>
                    </div>
                   <p class="signup"><a (click)="signup()" >Sign up </a></p>
                
                </div>

                <!-- 2 column grid layout for inline styling -->

            </form>
        </div>
    </div>


</div>