.signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-card {
    width: 30%;
    top: 150px;
    background-image:linear-gradient( #dd5e89 , #f7bb97);

}

.card-header{
    text-align: center;
    margin-bottom: 20px;
}
.signup-input{
    width: 100% !important;
}
.signup{
    text-align: center;
    font-size: 32px;
    color: black;
}
.signup-input{
    width: 100%;
}
.otp-box {
    display: flex;
    justify-content: center;

    .otp-field {
        height: 50px;
        font-size: 1rem;
        padding: 0.25rem !important;
        background-color: #E1E1E1;
        width: 50px;
        margin-left: 10PX;
        border: 1px solid #E1E1E1
    }

}